<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card mt-4">
                <div class="card-body">
                    <form>
                        <h3>Admin Login</h3>
                        <div class="mb-3">
                            <label class="form-label">Email address</label>
                            <input type="email" class="form-control" placeholder="name@example.com">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Password</label>
                            <input type="email" class="form-control" placeholder="********">
                        </div>
                        <button type="button" class="btn btn-primary">Login</button>
                    </form>
                </div>
            </div>
        </div>
       
    </div>