<app-header></app-header>
<div class="container-fluid" style="background-color: green;">
    <div class="row">
        <div class="card mt-2">
            <div class="card-body">
              <h2 class="card-title text-center text-primary">Welcome {{sessionValue | titlecase}}</h2>
              <h1 class="text-success">Dashboard</h1>
              <a class="btn btn-primary" routerLink="/add-user">+ Add User</a>&nbsp;
              <a class="btn btn-primary" routerLink="/list-users"> List User</a>
            </div>
          </div>
    </div>
</div>
<app-footer></app-footer>