<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="card mt-2">
            <div class="card-body">
              <h5 class="card-title">Welcome {{sessionValue | titlecase}}</h5>
              <h4>Dashboard</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a class="btn btn-primary">+ Add User</a>&nbsp;
              <a class="btn btn-primary"> List User</a>
            </div>
          </div>
    </div>
</div>